*.log
*.class
*#
*~
*.bak
**/target
**/.cache
**/.cache-main
**/.cache-tests
**/.history
**/.lib
**/node_modules
**/.metals
**/.vscode
**/.bloop
**/metals.sbt
**/.bsp

.github
.git

bib
Dockerfile
doc/artifact/equivalence-fiddle-docker.tar.gz